---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
---

<BaseLayout
  title="The Real Devs - Software, Salesforce y Automatización"
  description="Agencia de desarrollo especializada en sistemas empresariales, Pyme, Salesforce, integraciones y plataformas web de alto rendimiento."
>
  <!-- <Splash /> -->
  <div class="animate-fadeIn space-y-24 px-8 py-32">
    <Intro />
    <Features />
    <Compatibility />
    <Showcase />
  </div>
</BaseLayout>
