---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import developerImage from '~/assets/heroSectionPhoto.webp'
import HeroImage from '~/components/hero-image.astro'
import Starfield from '~/components/starfield.astro'
import GitHubCorner from './github-corner.astro'

const widths = [450, 800]
const sizes = '(min-width: 640px) 42vw, 67vw'
---

<section class="relative h-full bg-black">
  <Starfield />
  <!-- <GitHubCorner /> -->
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2 class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end">
      <Icon name="logomark" class="size-20 text-white md:size-72" />
      <div
        class="animate-gradient gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-5xl"
      >
        Innovación En Desarollo de
        <br /> Software.
      </div>
    </h2>
    <div
      id="devimage"
      class="w-2/4 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Image
        class="h-full w-full object-scale-down"
        src={developerImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating developer IA"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes breathe {
    0% {
      transform: scale(1) translateY(0);
    }
    50% {
      transform: scale(1.03) translateY(3px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }

  #devimage {
    animation: breathe 5s ease-in-out infinite;
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 6s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    #devimage {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
